@charset "UTF-8";
.body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.navigation {
  display: none;
}

.container {
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

/*Утилиты*/
.list {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  display: block;
}

button {
  padding: 0;
}

.lesson-toggle li + li ::before {
  margin: 0px 10px -2px 10px;
  display: inline-block;
  content: "";
  background-image: url(./../images/svg/slash.svg);
  background-repeat: no-repeat;
  width: 7px;
  height: 16px;
}

.button {
  background-color: transparent;
  border: none;
}

.lesson-toggle a {
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  color: #342C23;
}
.lesson-toggle a.active {
  color: #BEA183;
}

.lesson-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.icons :not(:last-child) {
  margin-right: 10px;
}

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 24px;
}

.search-img {
  display: none;
}
@media screen and (min-width: 768px) {
  .search-img {
    display: block;
  }
}

.hero-title {
  font-family: "Philosopher";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 54px;
  /* identical to box height */
  text-align: center;
  color: #342C23;
  margin-top: 16px;
  margin-bottom: 15px;
}

.product-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Philosopher";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
  /* identical to box height */
  text-transform: uppercase;
  color: #BEA183;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 25px;
}
.product-type a:active, .product-type a:visited {
  color: #BEA183;
}
.product-type :not(:last-child) {
  margin-right: 30px;
}

.breadcrumb {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 25px;
}
.breadcrumb:visited, .breadcrumb :active {
  color: #BEA183;
}
.breadcrumb a {
  color: #BEA183;
}
@media screen and (min-width: 768px) {
  .breadcrumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.breadcrumb .active {
  color: #342C23;
}
.breadcrumb .active:visited, .breadcrumb .active :active {
  color: #342C23;
}

.breadcrumb-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breadcrumb :not(:last-child)::after {
  display: inline-block;
  margin: 0px 10px -3px 10px;
  content: "";
  background-image: url(./../images/svg/slash.svg);
  background-repeat: no-repeat;
  width: 7px;
  height: 20px;
}

.about-section {
  margin-bottom: 46px;
}

.about-section h2 {
  font-family: "Philosopher";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #342C23;
  margin-bottom: 35px;
}

details > summary {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  list-style: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  color: #BEA183;
}

summary::after {
  content: "";
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin: -5px 5px 0 0;
  background-image: url(./../images/svg/arrow-down.svg);
  width: 20px;
  height: 12px;
  margin-left: 10px;
}

details[open] summary::after {
  display: inline-block;
  content: "";
  background-image: url(./../images/svg/arrow-up.svg);
  background-repeat: no-repeat;
  width: 20px;
  height: 12px;
  margin-left: 10px;
}

.mobile-img {
  display: none;
}
@media screen and (max-width: 767px) {
  .mobile-img {
    display: block;
  }
}

@media screen and (min-width: 767px) {
  .img-wrap {
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  .img-wrap {
    display: block;
  }
}

.desktop-img {
  display: none;
}
@media screen and (min-width: 768px) {
  .desktop-img {
    display: block;
  }
}

.img-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-bottom: 25px;
}

.img-wrap :nth-child(3) {
  width: 50%;
  margin-left: 10px;
}

.img-wrap :nth-child(1) {
  margin-bottom: auto;
}

.img-wrap :nth-child(2) {
  margin-top: auto;
}

.img-wrap {
  position: relative;
  border-top: 1px solid #BEA183;
  border-bottom: 1px solid #BEA183;
}

.img-wrap::after {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 20px;
  border-top: 1px solid #BEA183;
  border-bottom: 1px solid #BEA183;
  right: -20px;
  top: -1px;
}

.img-wrap::before {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: block;
  content: "";
  position: absolute;
  height: 100%;
  width: 20px;
  left: -20px;
  top: -1px;
  border-top: 1px solid #BEA183;
  border-bottom: 1px solid #BEA183;
}

@media screen and (min-width: 768px) {
  summary::after {
    display: none;
  }
  details > summary {
    display: none;
  }
  details[open] {
    display: block;
  }
}/*# sourceMappingURL=main.css.map */