.about-section{
    margin-bottom: 46px;
}
.about-section h2{
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #342C23;
    margin-bottom: 35px;
}
 details > summary {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    list-style: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    color: #BEA183;
}

summary::after{
content: "";
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin: -5px 5px 0 0;
    background-image: url(./../images/svg/arrow-down.svg);
    width: 20px;
    height: 12px;
    margin-left: 10px;
}
details[open] summary::after {
    display: inline-block;
    content: "";
    background-image: url(./../images/svg/arrow-up.svg);
    background-repeat: no-repeat;
    width: 20px;
    height: 12px;
    margin-left: 10px;
}

.mobile-img{
@media screen and(max-width: 767px) {
        display: block;
    }
    display: none;
}

.img-wrap{   
@media screen and(min-width: 767px) {
        display: none !important;
    }

 
}

.img-wrap {
    

    @media screen and(max-width: 768px) {
        display: block;
    }


}


.desktop-img{
    @media screen and(min-width: 768px){
        display: block;
    }
display: none;
}

.img-wrap{
    display: flex;
    margin-top: 10px;
margin-bottom: 25px;

// position: relative;
//     border-top: 1px solid #BEA183;
//     border-bottom: 1px solid #BEA183;
}

.img-wrap :nth-child(3) {
    width: 50%;
    margin-left: 10px;
}
.img-wrap :nth-child(1) {
   margin-bottom: auto;
}
.img-wrap :nth-child(2) {
    margin-top: auto;}

.about-content  li:nth-child(even) {

    margin-top: 40px;
    margin-bottom: 40px;
  
 
    &  .about-content-text{
        margin-top: 45px;
    }
}



   
@media screen and (min-width:768px) {
    summary::after {
       display: none;
    }
    details > summary {
        display: none;
    }
    details[open]{
        display: block;
    }
}

.about-content-wrap{
   @media screen and (min-width: 768px){
    display: flex;
   }
    
    
    
}

@media screen and (min-width: 768px) {
    .about-content-wrap:nth-child(even) {
            flex-direction: row-reverse;
    
            & .about-content-img {
                margin-right: 50px;
            }
    
        }
    
        .about-content-wrap:nth-child(odd) .about-content-img {
            margin-left: 50px;
        }
    
        .about-content-img {
            flex-shrink: 0;
        }
}


.about-content-text{
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
            line-height: 20px;
            color: #342C23;

        @media screen and (min-width:768px) {
            
            font-size: 18px;
                line-height: 22px;
        }
           
        
           
}

.desktop-hr{
    position: absolute;
    width: 100vw;
    height: 1px;

    display: block;
    
        border: 0;
        border-top: 1px solid #BEA183;
       margin: 0 ;
left: 0;

      @media screen and (max-width:767px){
        display:none;
      }  
        
}

.mobile-hr {
    position: absolute;
    width: 100vw;
    height: 1px;

    display: block;

    border: 0;
    border-top: 1px solid #BEA183;
    margin: 0;
    left: 0;

    @media screen and (min-width:768px) {
        display: none;
    }

}



    