.navigation ul{
      display: flex;
    @media screen and (max-width: 1023px){
        display: none;
    }
    
}

.navigation {
  
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        /* identical to box height */
    
    
        color: #342C23;
        & a:visited, :active{
           color: #342C23; 

        }
  & :not(:last-child) {
        margin-right: 30px;
    }
   @media screen and (min-width: 1024px) {
    margin-right: 70px;
   } 
}




.burger{
    @media screen and (min-width: 1024px) {
            display: none;
        }
}